@property --border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: black;
}

@property --background-color {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}

@property --border-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 1px;
}

@property --border-radius {
  syntax: "<length># | <length>+";
  inherits: false;
  initial-value: 0;
}

@property --corner-style {
  syntax: "rounded | scoop | notch | bevel";
  inherits: false;
  initial-value: rounded;
}

.fancy-border {
  padding: 20px;
  margin: 5px;
  width: fit-content;
  --background-color: rgb(255, 231, 189);
  --border-color: rgb(240, 120, 8);
  --border-width: 2px;
  --border-radius: 1em;
  background: paint(fancy-border);
}

.bevel {
  --corner-style: bevel;
}

.notch {
  --corner-style: notch;
}

.rounded {
  --corner-style: rounded;
}

.scoop {
  --corner-style: scoop;
}

.mix1 {
  --corner-style: notch;
  --border-radius: 1em, 0, 0.3em;
}

.mix2 {
  --corner-style: rounded;
  --border-radius: 1em 0.5em 0.1em 1em;
}

.mix3 {
  --corner-style: bevel;
  --border-radius: 0, 1em;
}

.other-border {
  padding: 20px;
  margin: 5px;
  width: fit-content;
  --background-color: rgb(255, 231, 189);
  --border-color: rgb(240, 120, 8);
  --border-width: 3px;
  --border-radius: 0.5em, 1em, 0em;
  --corner-style: scoop;
  background: paint(fancy-border);
}
