@property --border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: black;
}

@property --background-color {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}

@property --border-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 1px;
}

@property --border-radius {
  syntax: "<length># | <length>+";
  inherits: false;
  initial-value: 0;
}

@property --corner-style {
  syntax: "*";
  inherits: false;
  initial-value: rounded;
}

@property --side-inset {
  syntax: "<length># | <length>+";
  inherits: false;
  initial-value: 0;
}

@property --side-style {
  syntax: "*";
  inherits: false;
  initial-value: rounded;
}

html,
body {
  height: 100%;
  margin: 0;
}

.container {
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 70px 1fr;
  grid-template-rows: 1fr 70px 1fr;
  gap: 8px;
}

.cell {
  background-color: hsl(var(--hue), 70%, 80%);
  border-color: hsl(var(--hue), 70%, 50%);
  border-width: 2px;
  border-style: solid;
}

.red {
  --hue: 0;
  grid-column: 1;
  grid-row: 1;
}

.blue {
  --hue: 240;
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;

  background: paint(fancy-border);
  --background-color: hsl(var(--hue), 70%, 80%);
  --border-color: hsl(var(--hue), 70%, 50%);
  --border-width: 2px;
  --border-radius: 0 0 0 75px;
  --corner-style: bevel;
}

.green {
  --hue: 120;
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;

  background: paint(fancy-border);
  --background-color: hsl(var(--hue), 70%, 80%);
  --border-color: hsl(var(--hue), 70%, 50%);
  --border-width: 2px;
  --border-radius: 0, 75px, 0, 0;
  --corner-style: bevel;
}

.orange {
  --hue: 30;
  grid-column: 3;
  grid-row: 3;
}

.info {
  position: absolute;
  bottom: 2px;
  right: 2px;
  padding: 0.2em 0.5em;

  color: hsl(var(--hue), 50%, 30%);
  --hue: 270;
  background: paint(fancy-border);
  --background-color: hsl(var(--hue), 50%, 90%);
  --border-color: hsl(var(--hue), 50%, 60%);
  --border-width: 2px;
  --border-radius: 0 0.7em 0.7em 0;
  --corner-style: bevel;
  transition: --border-color, --background-color, color;
  transition-delay: 5s;
  transition-duration: 5s;
}

.info-hidden {
  --background-color: transparent;
  --border-color: transparent;
  color: transparent;
}

.bold {
  font-weight: bold;
}
